@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: auto;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5%;
}

.cabecalho_image_logo {
    width: 150px;
}

.nav_cabecalho_link {
    display: flex;
    justify-content: space-between;
    gap: 76px;
}

.cabecalho_link{
    font-family: 'Karla', sans-serif;
    font-size: 28px;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.cabecalho_link:hover{
    font-weight: 600;
}

.cabecalho_image_compras{
    width: 100px;
}

.apresentacao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2%;
    gap: 30px;
}

.apresentacao_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.apresentacao_texto_titulo {
    margin: 0%;
    font-family: 'karla', sans-serif;
    font-size: 64px;
    font-weight: 800;
}

.apresentacao_texto_paragrafo {
    margin: 0%;
    font-family: 'karla', sans-serif;
    font-size: 32px;
    font-weight: 300;
}

.apresentacao_botao_comprar{
    background-color: #171717;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 20px;
    width: 270px;
    padding: 16px;
    text-align: center;
    font-family: 'karla', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

.apresentacao_image{
    padding: 2% 0% 0% 0%;
    width: 50%;
}

/* pagina web female */

.texto_imagem_female{
    display: inline-block;
    position: relative;
    color: #FFFFFF;
}

.imagem_background_female{
    width: auto;
}

.texto_imagem_female figcaption{
    position: absolute;
    top: 20%;
    left: 53%;
}

.titulo_female{
    font-family: 'karla', sans-serif;
    font-size: 64px;
    font-weight: 800;
    padding: 0px 0px 30px 0px;
}

.texto_female {
    font-family: 'karla', sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding: 0px 30px 30px 0px;
}

.botao_comprar_female{
    display: flex;
    justify-content:end;
    width: 50%;
    padding: 2%;
}

.botao_comprar_female_link{
    background-color: #DBD6D6;
    color: #E7765A;
    text-decoration: none;
    border-radius: 20px;
    width: 270px;
    padding: 16px;
    text-align: center;
    font-family: 'karla', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

/* pagina web kids */

.apresentacao_kids {
    background-color: #EFF186;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 2% 8% 2%;
    margin-bottom: 0.2%;
    gap: 30px;
}

/* pagina web sale */
.apresentacao_catalogo{
    margin: 5%;
}

.galeria{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
    padding: 0px 30px 30px;
    width: 100%;
}

.grid {
    width: 480px;
    height: 400px;
    padding: 10px;
    text-align: center;
    background-color: #E4E3E3;
}

.grid:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.grid_image {
    width: 200px;
}

h3 {
    text-align: center;
    font-size: 28px;
    font-family: 'karla', sans-serif;
    font-weight: 600;
}

p {
    text-align: center;
    font-size: 28px;
    font-family: 'karla', sans-serif;
    font-weight: 300;
}

button {
    width: 190px;
    padding: 15px;
    margin-top: 15px;
    background-color: #D9D9D9;
    border: 2px solid #929292;
    font-family: 'karla', sans-serif;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
}
span {
    color: #929292;
}

h2 {
    padding: 20px;
    text-align: center;
    font-size: 34px;
    font-family: 'karla', sans-serif;
    font-weight: 600;
}

.galeria_preco_baixo {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 0px 30px 30px;
    width: 100%;
}

.grid_preco_baixo {
    width: 300px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.grid_preco_baixo:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

footer {
    font-family: 'karla', sans-serif;
    font-size: 32px;
    font-weight: 300;
    background-color: black;
    padding: 22px;
    color: #FFFFFF;
    text-align: center;
}